<div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="rating">
                <i class="fa{{location.rating<1?'r':'s'}} fa-star"></i>
                <i class="fa{{location.rating<2?'r':'s'}} fa-star"></i>
                <i class="fa{{location.rating<3?'r':'s'}} fa-star"></i>
                <i class="fa{{location.rating<4?'r':'s'}} fa-star"></i>
                <i class="fa{{location.rating<5?'r':'s'}} fa-star"></i>
            </p>
            <p>{{location.address}}</p>
            <div class="card card-primary">
                <div class="card-block">
                    <h2 class="card-title">Opening Hours</h2>
                    <p class="card-text" *ngFor='let openingTime of location.openingTimes'
                        [ngSwitch]='openingTime.closed'>
                        <span *ngSwitchCase='true'>Closed</span>
                        <span *ngSwitchDefault>{{openingTime.days}}:
                            {{openingTime.opening}}-{{openingTime.closing}}
                        </span>
                    </p>
                </div>
            </div>
            <div class="card card-primary">
                <div class="card-block">
                    <h2 class="card-title">Facilities</h2>
                    <span class="badge badge-warning" *ngFor='let facility of location.facilities'>
                        <i class="fa fa-check">&nbsp;{{facility}}&nbsp;</i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 location-map">
            <div class="card card-primary">
                <div class="card-block">
                    <h2 class="card-title">Location Map </h2><img class="img-fluid rounded"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJgjG37yPyDwQfFDMpErxeMJD-UITAkie7Lg&amp;usqp=CAU">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="card card-primary review-card">
                <div class="card-block" [ngSwitch]='isLoggedIn()'>
                    <button (click)='formVisible=true' class="btn btn-primary float-end" *ngSwitchCase='true'>
                        Add Review
                    </button>
                    <a routerLink='/login' class="btn btn-primary float-end" *ngSwitchDefault>Log in to write review</a>
                    <h2 class="card-title">Customer Reviews </h2>
                    <!--  -->
                    <div class="container" *ngIf='formVisible'>
                        <form action="" (ngSubmit)='onReviewSubmit()'>
                            <hr>
                            <h4>Add Your Reviews </h4>
                            <div *ngIf='formError' class="alert alert-danger" role="alert">
                                {{formError}}
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="rating">
                                    Rating
                                </label>
                                <div class="col-md-2 col-sm-10">
                                    <select [(ngModel)]='review.rating' class="form-control input-sm" id="rating"
                                        name="rating">
                                        <option [ngValue]='5'>5</option>
                                        <option [ngValue]='4'>4</option>
                                        <option [ngValue]='3'>3</option>
                                        <option [ngValue]='2'>2</option>
                                        <option [ngValue]='1'>1</option>
                                    </select>
                                </div>
                            </div>
                            <p></p>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="review">
                                    Review
                                </label>
                                <div class="col-sm-10">
                                    <textarea [(ngModel)]='review.reviewText    ' class="form-control" id="revew"
                                        name="review" rows="5"></textarea>
                                </div>
                            </div>
                            <p></p>
                            <div class="form-group row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary float-end" style="margin-left: 15px;">
                                        Submit review
                                    </button>
                                    <button type="button" (click)='formVisible=false;formError=undefined'
                                        class="btn btn-dark float-end">Cancel</button>
                                </div>
                            </div>
                            <hr>
                        </form>

                    </div>
                    <!--  -->
                    <div class="row review" *ngFor='let review of location.reviews|mostRecentFirst'>
                        <div class="col-12 no-gutters review-header">
                            <span class="rating">
                                <i class="fa{{review.rating<1?'r':'s'}} fa-star"></i>
                                <i class="fa{{review.rating<2?'r':'s'}} fa-star"></i>
                                <i class="fa{{review.rating<3?'r':'s'}} fa-star"></i>
                                <i class="fa{{review.rating<4?'r':'s'}} fa-star"></i>
                                <i class="fa{{review.rating<5?'r':'s'}} fa-star"></i>
                            </span>
                            <span class="float-end">
                                &nbsp;&nbsp;&nbsp;
                                <span>{{review.author}}</span>
                                <span>
                                    <small>
                                        &nbsp;&nbsp;&nbsp;{{review.createdOn | date: 'd MMMM yyyy'}}
                                    </small>
                                </span>
                            </span>
                        </div>
                        <div class="col-12">
                            <p [innerHTML]='review.reviewText | htmlLineBreaks'></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>