extends layout
include _includes/sharedHTMLfunctions

block content
    div.row.banner
        div.col-12
            h1 #{pageHeader.title}
                small &nbsp;#{pageHeader.strapline}
    .row 
        div.error=message
    div.row
        div.col-12.col-md-8
            app-home-list
        div.col-12.col-md-4
            p.lead #{sidebar}
block scripts 
    script(src='/build/runtime.eba877d1204fd67b69cb.js') 
    script(src='/build/polyfills.8cbae4cc583eaccc8acb.js') 
    script(src='/build/main.14114007823e221aea30.js') 
